.contenedorregistro {
  background-color: lightgray;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  height: 90vh;
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}

.cajaregistropersona {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  font-family: "Outfit", sans-serif; /* Estilo de fuente */
  outline: none; /* Elimina el contorno al seleccionar el campo */
}

.labelregistrodepersona {
  height: 25px;
  width: 250px;
  font-size: 100;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: start;
  align-self: center;
}

.inforegistropersona {
  display: flex;
  flex-direction: row;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
